.aboutUs {
    background-color: $aboutUsColor;
    padding: 2em 0;
}

.aboutUsHeader{
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 12%;
    font-family: $Montserrat;
    font-weight: 700;
    color: #FFF;
    font-size: 2.5em;
}

.aboutUsText{
    font-family: $Exo2;
    font-size: 1.25em;
    color: #E6E6E6;
    width: 70%;
    margin: 0 auto; 
    margin-bottom: 5%;
}


@media all and (max-width:900px){
    .aboutUsText{
        font-size: 1em;
    }
}