.footerSection{
    display: block;
    background-color: $footerColor;
}

.footerSection p {
    font-family: $Raleway;
    color:#F9F9F9;
    text-align: center;
    width: 80%;
    font-weight: 200;
    margin: 0 auto;
    padding: 20px;
    font-size: .8em;
    letter-spacing: 0.4em;
}

@media all and (max-width: 800px){
    .footerSection p {
        font-size: .6em;
        line-height: 2em;
    }    
}

.socialIcons{
    //font-size: 1.5em;
    text-align : center;
    padding-bottom: 1em;
    font-size: 1.25em;
    a {
        margin-right: 1em;
        text-decoration : none;
        transition : all .3s ease;
    }

    a:hover{
        opacity: .5;
    }
}

.fa-circle{
    color : #E6E6E6;
}


.fa-facebook {
	color: #3b5998;
} 
.fa-linkedin {
	color: #007bb6;
}
.fa-yelp {
    color : #C70C1B;
}