.orderWrapper {
    background-color: $aboutUsColor;
    height: 100%;
}

.orderSectionWrapper {
    display: block;
    -webkit-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.86);
    -moz-box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.86);
    box-shadow: 1px 1px 20px 0px rgba(0, 0, 0, 0.86);
    width: 80%;
    margin: 5% auto;
    padding: 0 5em;
    background-color: $backgroundColor;
    padding-bottom: 2em;
}

.orderSectionWrapper h1 {
    text-align: center;
    padding-top: 1em;
    margin-bottom: 1em;
    font-family: $Montserrat;
    font-size: 2em;
    color: $aboutUsColor;
    font-weight: 700;
}

.hotTubShapesImage {
    display: block;
    width: 80%;
    margin: 5% auto;
}

.quoteForm {
    width: 70%;
    margin: 0 auto;
    margin-top: 5%;
    font-family: $Raleway;
    color: #1A1A1A;
    min-height: 10em;
}

.quoteForm select{
    height: 35px;
}