doctype html
html(lang='en')
  head
    title Ocean Spa Covers
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="https://use.fontawesome.com/860ff23a23.js")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(type='text/javascript', src='/dist/bundle.js', charset='utf-8')
    link(rel="shortcut icon" href="src/favicon.ico")

  body
    .bodyWrapper
      include navigation.pug
      section.colorSection
        .colorSectionWrapper
          h1 COLORS
          .colorsFlexContainer
            .colorFlexItem 
                img(src="src/images/colors/Black.jpg")
                h3 Black 
            
            .colorFlexItem 
                img(src="src/images/colors/Bourbon.jpg")
                h3 Bourbon 

            .colorFlexItem 
                img(src="src/images/colors/Cedar.jpg")
                h3 Cedar 

            .colorFlexItem 
                img(src="src/images/colors/Charcoal.jpg")
                h3 Charcoal 

            .colorFlexItem 
                img(src="src/images/colors/Dusk.jpg")
                h3 Dusk 
            
            .colorFlexItem 
                img(src="src/images/colors/federalBlue.jpg")
                h3 Federal Blue

            .colorFlexItem 
                img(src="src/images/colors/Green.jpg")
                h3 Green


            .colorFlexItem 
                img(src="src/images/colors/Midnight.jpg")
                h3 Midnight

            .colorFlexItem 
                img(src="src/images/colors/Nugget.jpg")
                h3 Nugget

            .colorFlexItem 
                img(src="src/images/colors/Oyster.jpg")
                h3 Oyster

            .colorFlexItem 
                img(src="src/images/colors/Peacock.jpg")
                h3 Peacock
            
            .colorFlexItem 
                img(src="src/images/colors/Port.jpg")
                h3 Port
            
            .colorFlexItem 
                img(src="src/images/colors/stormGrey.jpg")
                h3 Storm Grey

            .colorFlexItem 
                img(src="src/images/colors/Walnut.jpg")
                h3 Walnut

            .colorFlexItemEmpty

            .colorFlexItemEmpty


      footer
        include footer.pug   