footer.footerSection
    p  ©2017 OCEAN SPA COVERS - MADE BY SANCHIT DHIMAN
    .socialIcons
        a(href="https://www.facebook.com/Ocean-Spa-Covers-922934214385085/")
            span(class="fa-stack fa-lg")
                i(class="fa fa-circle fa-stack-2x")
                i(class="fa fa-facebook fa-stack-1x" aria-hidden="true")

        a(href="https://www.yelp.com/biz/ocean-spa-covers-knoxville-2")
            span(class="fa-stack fa-lg")
                i(class="fa fa-circle fa-stack-2x")
                i(class="fa fa-yelp fa-stack-1x" aria-hidden="true")
        
        a(href="https://www.linkedin.com/company/4250380/")
            span(class="fa-stack fa-lg")
                i(class="fa fa-circle fa-stack-2x")
                i(class="fa fa-linkedin fa-stack-1x" aria-hidden="true")