doctype html
html(lang='en')
  head
    title Ocean Spa Covers
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="https://use.fontawesome.com/860ff23a23.js")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(type='text/javascript', src='/dist/bundle.js', charset='utf-8')
    link(rel="shortcut icon" href="src/favicon.ico")

  body.contactOnSubmit
    include navigation.pug

    section.contactText
        h1 #{dataString}
        p We will be doing our best to get back to you as soon as we can! 
    
    footer
        include footer.pug 