doctype html
html(lang='en')
  head
    title Ocean Spa Covers
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='/dist/bundle.js', charset='utf-8')
    script(src="https://use.fontawesome.com/860ff23a23.js")
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA0CZ26_NQSjx-vpHGLIGNA0khiAavNcmg&callback=initMap")


  body
    // ============================================   HEADER + NAVIGATION ============================================

    header
      include navigation.pug
      .headerImage
        image(src='src/images/Logo-BG.png')
      .textOverlay
        p
          | WE GOT YOU COVERED!
      a.productsButton(href='') PRODUCTS
    // ============================================   PRODUCTS PITCH SECTION ============================================

    section.productsPitch
      article
        .productImage
          img(src='src/images/productOne.png')
        p.productText
          | Each spa cover and hot tub cover is equipped with several added features to ensure strength and durability. There
          | are two triple-stitched, double-riveted handles for easy removal and storage. Drain grommets are provided
          | to allow water to escape from inside the skin cover. Two combination heat seal and vinyl protecting skid
          | pads are incorporated to further protect the cover and minimize heat loss.
      hr
      article
        .productImage.flexOrder
          img(src='src/images/productOne.png')
        p.productText
          | Each spa cover and hot tub cover is equipped with several added features to ensure strength and durability. There
          | are two triple-stitched, double-riveted handles for easy removal and storage. Drain grommets are provided
          | to allow water to escape from inside the skin cover. Two combination heat seal and vinyl protecting skid
          | pads are incorporated to further protect the cover and minimize heat loss.
    // ============================================   ABOUT US SECTION ============================================
    section.aboutUs
      .wrapper
        h1.aboutUsHeader ABOUT US
        p.aboutUsText
          | Thank you for visiting Ocean Spa Covers Inc. located in Knoxville, TN. We have been a family
          | owned business since 1997. Owner Bob Nayee and his wife Bhawna Nayee have dedicated their
          | lives to making sure each and every handmade spa cover are perfect; from the size fitting
          | perfect to the seam lining up perfectly. Starting out in Orlando FL, Mr. &amp; Mrs. Nayee started
          | their company in 1997 with one mission; to make the perfect cover for our customers. Each of
          | our spa covers are handmade and go through numerous quality inspections in Knoxville, TN.
          | Our seamstresses are highly qualified in their profession and have been trained by Mrs. Nayee
          | herself. From custom spa shapes to standard sizes, we can make it all. Give us a call today and
          | get a free quote! Don’t worry when you choose Ocean Spa Covers Inc. we promise, we got you
          | COVERED.
  // ============================================   FORM SECTION ============================================
  section(class="formSection" id="contactUs")
    h1.contactUsHeader CONTACT US
    include contact.pug

  // ============================================   LOCATION SECTION ============================================
  section.locationSection
    h1.locationHeader LOCATION
    .storeInformation
      .storeInformationList
        p 
          span(class="title") Phone Number : 
        p 
          span(class="title") Fax : 
        p 
          span(class="title") E-Mail: 
        p 
          span(class="title") Hours :  
      .mapLocation(id="map")



  // ============================================   FOOTER SECTION ============================================
  include footer.pug