doctype html
html(lang='en')
  head
    title Ocean Spa Covers
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="https://use.fontawesome.com/860ff23a23.js")
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(type='text/javascript', src='/dist/bundle.js', charset='utf-8')
    link(rel="shortcut icon" href="src/favicon.ico")


    

  body
    // ============================================   HEADER + NAVIGATION ============================================
    include navigation.pug
    
    header(class="slickHandle owl-carousel owl-theme")
    .firstPicture
      .headerImage
        image(src='src/images/Logo-BG.svg')
      .textOverlay
        p
          | WE GOT YOU COVERED!

      a.productsButton(href='./orders') GET A QUOTE!  

    // ============================================   PRODUCTS PITCH SECTION ============================================
    section.productsPitch
      article
        .productImage
          img(src='src/images/productOne.png')
        p.productText
          |  The covers are also equipped with several added features to ensure strength and durability. There are two triple-stitched, double riveted handles for easy removal and storage. Drain grommets are provided to allow water to escape from inside the skin cover. Two combination heat seal and vinyl protecting skid pads are incorporated to further protect the cover and minimize heat loss. This allows you to not only keep heat in, but keep leaves and dirt out allowing you to cut energy costs down. 


      hr
      article
        .productImage.flexOrder
          img(src='src/images/productTwo.png')
        p.productText
          | The hot tub and spa cover skins are made of premium all--weather marine grade vinyl, treated to resist mildew and ultraviolet rays with an “R” value of 15. The Spa cover liner backing is also mildew and chemical resistant. We provide fast delivery for these super lightweight covers.
    // ============================================   ABOUT US SECTION ============================================
    section.aboutUs
      .wrapper
        h1.aboutUsHeader ABOUT US
        p.aboutUsText
          | Thank you for visiting Ocean Spa Covers Inc. located in Knoxville, TN. We have been a family
          | owned business since 1997. Owner Bob Nayee and his wife Bhawna Nayee have dedicated their
          | lives to making sure each and every handmade spa cover are perfect; from the size fitting
          | perfect to the seam lining up perfectly. Starting out in Orlando FL, Mr. &amp; Mrs. Nayee started
          | their company in 1997 with one mission; to make the perfect cover for our customers. Each of
          | our spa covers are handmade and go through numerous quality inspections in Knoxville, TN.
          | Our seamstresses are highly qualified in their profession and have been trained by Mrs. Nayee
          | herself. From custom spa shapes to standard sizes, we can make it all. Each Ocean Spa cover is handmade 
          | to perfection and several quality control inspections are performed during the manufacturing process 
          | to guarantee top quality in both materials and workmanship. The Cover is protected by a three-year warranty. 
          | so give us a call today and get a free quote!
          | Don’t worry when you choose Ocean Spa Covers Inc. we promise, we got you COVERED.
  // ============================================   FORM SECTION ============================================
  section(class="formSection" id="contactUs")
    h1.contactUsHeader CONTACT US
    include contact.pug
  // ============================================   LOCATION SECTION ============================================
  section.locationSection#location
    h1.locationHeader LOCATION
    .storeInformation
        .storeInformationList
          p 
            span(class="title") Phone Number : 
            | (865) 651-6500
          p 
            span(class="title") Fax : 
            | (865) 671-6507
          p 
            span(class="title") E-Mail : 
            | shannayee1@gmail.com
          p 
            span(class="title") Hours :  
            
          p
            | Monday - Friday : 9:00am - 4:00pm
          p 
            | Saturday: Appointment Only 
          p 
            | Sunday: Closed

        .mapLocation
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3231.808847927046!2d-84.14141988421491!3d35.90269702540052!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x885c2faa0b26ed55%3A0x82dbdea053fc6553!2s310+Simmons+Rd+m%2C+Knoxville%2C+TN+37922!5e0!3m2!1sen!2sus!4v1502988622262" frameborder="0" style="border:0" allowfullscreen)
  // ============================================   FOOTER SECTION ============================================
  include footer.pug