nav
  ul.navigationBox
    li
      a(href='#') HOME
    li
      a(href='#') WARRANTY
    li
      a(href='#') LOCATION
    li
      a(href='#') COLORS
    li
      a(href='#') ORDER
    li
      a(href='#contactUs') CONTACT US
