doctype html
html(lang='en')
  head
    title Ocean Spa Covers
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous")
    script(type='text/javascript', src='/dist/bundle.js', charset='utf-8')
    link(rel="shortcut icon" href="src/favicon.ico")


  body
    .orderWrapper
      include navigation.pug
      section.orderSectionWrapper
        h1 GET A FREE QUOTE
        .hotTubShapesImage
            img(src="http://www.hottub.pro/wp-content/uploads/2016/08/Hot-Tub-Shape-Size.jpg")

        form.quoteForm(action='quoteSubmit' method='post' id="quoteForm" onsubmit="return validateQuote()")
          .formRow
            label(for="hotTubShape") Hot Tub Shape : 
            select(id='hotTubShape' name='hotTubShape' onchange="redisplayMeasurements()")
              option(value="Rectangle") Rectangle
              option(value="Square") Square
              option(value="Round") Round
              option(value="Round Corner") Round Corner
              option(value="Cut Corner") Cut Corner
              option(value="Octagon") Octagon
              option(value="Two Cut Corner") Two Cut Corner
              option(value="Hexagon") Hexagon
              option(value="Elipse") Elipse
          .formRow
            label(for="spaModel") Spa Model/Make : 
            input(type="text" name="spaModel" id="spaModel" placeholder="Enter The Model/Brand of your Hot Tub")
          .formRow
            label(for="coverColor") Cover Color : 
            select(id="coverColor" name="coverColor")
                option(value="Black") Black
                option(value="Black") Bourbon
                option(value="Black") Cedar
                option(value="Black") Charcoal
                option(value="Black") Dusk
                option(value="Black") Federal Blue
                option(value="Black") Green
                option(value="Black") Horizon Blue
                option(value="Black") Midnight
                option(value="Black") Nugget
                option(value="Black") Oyster
                option(value="Black") Peacock
                option(value="Black") Port
                option(value="Black") Storm Grey
                option(value="Black") Walnut

          .formRow(id="measurementA")
            label(for="measurementA" ) Measurement A : 
            input(type="text" name="measurementA"  id="measurementAValue" placeholder="Enter Measurement A in Inches")
          
          .formRow(id="measurementB")
            label(for="measurementB") Measurement B : 
            input(type="text" name="measurementB" id="measurementBValue" placeholder="Enter Measurement B in Inches")

          .formRow(id="measurementC")
            label(for="measurementC") Measurement C : 
            input(type="text" name="measurementC" id="measurementCValue" placeholder="Enter Measurement C in Inches")
          
          .formRow(id="measurementD")
            label(for="measurementD" ) Measurement D : 
            input(type="text" name="measurementD"  id="measurementDValue" placeholder="Enter Measurement D in Inches")

          .formRow(id="measurementE")
            label(for="measurementE") Measurement E : 
            input(type="text" name="measurementE"  id="measurementEValue" placeholder="Enter Measurement E in Inches")
           
          .formRow(id="measurementF")
            label(for="measurementF") Measurement F : 
            input(type="text" name="measurementF" id="measurementFValue" placeholder="Enter Measurement F in Inches")
          
          .formRow
            label(for="name") Name : 
            input(type="text" name="name" id="quoteName" placeholder="Enter Your Name")

          .formRow
            label(for="number") Phone Number : 
            input(type="tel" name="number" id="quoteNumber" placeholder="Enter Your Phone Number")

          .formRow
            label(for="address") Address : 
            input(type="text" name="address" id="quoteAddress" placeholder="Enter Your Address")

          .formRow
            label(for="email") E-mail : 
            input(type="EMAIL" name="email" id="quoteEmail" placeholder="Enter Your E-mail")

          .formRow
            button(form="quoteForm" class="submitButton" type="submit") Submit Quote!
            i(class="fa fa-paper-plane" aria-hidden="true")


    script(type='text/javascript', src="src/clientJs/formValidation.js")
